@font-face {
    font-family: "Outfit";
    src: url("Outfit-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url("Outfit-ExtraBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

html {
    background-color: hsl(212, 45%, 89%);
}

body {
    width: 100vw;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    max-width: 90vw;
    height: auto;
    margin: 5vw;
    border-radius: 25px;
    box-shadow: 0 5px 10px hsla(212, 15%, 60%, 0.13), 0 15px 44px rgba(173, 178, 196, 0.39);
}

.qr_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90%;
    height: auto;
    margin-top: 4.8%;
}

.qr_image {
    display: flex;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 0;
}

h1 {
    text-align: center;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 7vw;
    width: 90%;
    color: hsl(218, 44%, 22%);
    margin-top: 1em;
    margin-bottom: 0.75em;
}

h2 {
    text-align: center;
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 4.6vw;
    width: 80%;
    color: hsl(220, 15%, 55%);
    margin-top: 0em;
    margin-bottom: 3em;
}

@media screen and (min-width: 650px){
    .main_container {
        max-width: 54vw;
        height: auto;
    }

    h1 {
        font-size: 3.95vw;
    }

    h2 {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 1200px) {
    .main_container {
        max-width: 25vw;
        height: auto;
    }
     
    h1 {
        font-size: 1.9vw;
    }
    
    h2 {
        font-size: 1.3vw;
    }
}